{% load static %}
<!DOCTYPE html>
<html lang="vi">
<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>EduPro - Đăng nhập</title>
  <!-- Icon Library -->
  <script src="https://unpkg.com/lucide@latest"></script>
  <!-- File CSS riêng -->
  <link rel="stylesheet" href="{% static "app/css/style.css" %}" />
</head>
<body>

    <!-- Slider/Banner Block -->
    {% block banner_slider %}{% endblock banner_slider %}

    <!-- Main Content Block -->
    {% block main-content %}{% endblock main-content %}
    {% comment %} block login  {% endcomment %}
    {% block login %}

    {% endblock login %}

    <!-- JS Scripts -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
      <!-- File JavaScript riêng -->
    <script src="{% static "app/js/script.js" %}"></script>
</body>
</html>